.Main {
    text-align: center;
}

.BookBoard {
    display: inline-block;
    border:solid;
    border-width: 1px;
    border-color: white;
    border-radius: 1%;
    margin: 1%;
    size:100%;
    padding: 3%;
}

.BookBoard:hover {
    background-color: lightgray;
    
}

.likeThumbnail {
    position: relative;
    border-radius: 25px;
    right:5%;
}