.picktaste {
    position: absolute;
    width:100%;
    height:100%;
    z-index:1000;
    overflow: scroll;
    align-content: center;
    text-align: center;
}

.TasteBoard {

    display: inline-flex;
    width: 90%;
    height: 80%;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: black;
    text-align: center;
    margin-top: 5%;
    white-space: pre;
    flex-wrap: wrap;
}

.WelcomeUser {
    
    position: relative;
    color: black;
    width: 90%;
    font-size: 150%;
    margin-left: 5%;
    margin-top: 2%;
}

.tabContainer {
    position: relative;
    display: inline-flex;
    width:90%;
    height: 20%;;
}

.blockContainer {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    width:89%;
    height: 71%;
    left: 11%;

}

.Taste {

    text-align: center;
    position: relative;  
    width: 7%;
    height: 2%;
    color: black;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: black;
    padding: 2%;
    margin-left: 3%;
    margin-top: 1%;

}

.Jangre {

    text-align: center;
    position: relative;
    width: 7%;
    height: 2%;
    color: black;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: black;
    padding: 2%;
    margin-top: 1%;

}

.Block {
    position: relative;
    width: 20%;
    height: 20%;
    color: black;
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: black;
    margin:1%;
    padding: 2%;
    
}

.selectComplete {
    position: relative;
    width: 10%;
    height: 5%;
    bottom: 10%;
    left: 87%;
}