.picktaste {
    position:fixed;
    width:100%;
    height:100%;
    z-index:1000;
    background-image: url('https://files.vladstudio.com/joy/library/wall/vladstudio_library_1024x768_signed.jpg');
    text-align: center;
    justify-content: center;
}